@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root {
    --Grayishblue: hsl(237, 18%, 59%);
    --Softred: hsl(345, 95%, 68%);
    --White: hsl(0, 0%, 100%);
    --Darkdesaturatedblue: hsl(236, 21%, 26%);
    --Verydarkblue: hsl(235, 16%, 14%);
    --Verydarkblueblack: hsl(234, 17%, 12%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    background-image: url(./images/bg-stars.svg);
    background-color: var(--Verydarkblueblack);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container h1 {
    color: var(--White);
    text-transform: uppercase;
    letter-spacing: 5px;
    height: 30vh;
    padding-top: 5rem;
}

.countdown {
    display: flex;
    gap: 10px;
    text-align: center;
    height: 60vh;
}

.flip-card {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* box-shadow: 0 13px 0 0 black; */
    position: relative;
}


.top-flip,
.bottom-flip {
    position: absolute;
}

.top-flip {
    transform-origin: bottom;
    transform: rotateX(0deg);
    animation: flip-top 0.5s ease-in forwards;
}

.bottom-flip {
    bottom: 0;
    animation: flip-bottom 0.5s ease-out 0.5s;
    transform-origin: top;
    transform: rotateX(90deg);
}

.top,
.bottom,
.top-flip,
.bottom-flip {
    height: 33px;
    width: 80px;
    padding: 21px 16px;
    color: var(--Softred);
    overflow: hidden;
    text-align: center;
}

.top,
.top-flip {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.7);
    background-color: rgb(48, 50, 78);
}

.bottom,
.bottom-flip {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--Darkdesaturatedblue);
    box-shadow: 0 2px rgb(71, 83, 115, 0.2) inset;
}

p {
    font-weight: 700;
    letter-spacing: 1.5px;
    color: var(--Grayishblue);
    margin-top: 40px;
}

@keyframes flip-top {
    to {
        transform: rotateX(90deg);
    }
}

@keyframes flip-bottom {
    to {
        transform: rotateX(0deg);
    }
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    width: 100%;
    height: 30vh;
    background-image: url(./images/pattern-hills.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.socials a {
    text-decoration: none;
    font-size: 20px;
    color: var(--Grayishblue);
}

.socials a:hover {
    color: var(--Softred);
}